.nosotros {
  width: 70%;
  margin: 0 auto;
}

.nosotros p {
  margin: 20px 0;
}

img.chemImage {
  padding-right: 20px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: auto;
}

img.probe {
  padding-right: 20px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 350px;
  height: auto;
}
