.productosUl ul {
  list-style-type: none;

  margin-left: 250px;
}

.productosUl li {
  padding: 10px;
  background-color: darkblue;
  border-radius: 10px;
  margin: 15px;
  color: white;
  text-align: center;
  width: 500px;
}
